body {

    background-color: #e8f0fe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#heading {
    font-size: 42px;
    margin-top: 60px;
    color: #1a237e;
    font-weight: bold;
    letter-spacing: 2px;


}

.custom-btn {
   margin-top: 30px;
   background-color: #3949ab;
   color: white;
   padding: 12px 25px;
   border-radius: 8px;
   cursor: pointer;
   transition: 0.3s ease;
}
.custom-btn:hover{
   background-color: #283593;

}
.container {
   margin-top: 50px;
   padding: 20px;
}   