body {
  font-family: Arial, sans-serif;
  padding: 20px;
 
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

.box {
  border: 1px solid #999;
  padding: 20px;
  width: 300px;
  margin-top: 10px;
}

.box div {
  padding: 4px 0;
  cursor: pointer;
}

.box div:hover {
  background-color: #f3f3f3;
}

.details {
  margin-top: 20px;
  border: 1px solid #999;
  padding: 20px;
  width: 350px;
}
